<h2>注文履歴詳細</h2>

<div>
  <span>購入者</span>
  <span></span>
</div>

<div>
  <span>注文日</span>
  <span></span>
</div>

<div>
  <span>配送先</span>
  <span></span>
</div>

<div>
  <span>支払方法</span>
  <span></span>
</div>

<div>
  <span>注文ステータス</span>
  <span></span>
  <span></span>
</div>